<%- model_class = Mem -%>
<div class="page-header">
 <% @mems.each do |mem| %>
 <p>
 <h1> <%= mem.name %> </h1>
 <%= link_to image_tag(mem.image.url(:medium)),mem_path(mem) %>
 </p>
 </br>
 <% end %>

</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
 new_mem_path,
 :class => 'btn btn-primary' %> 